[submodule "AOD-L2"]
	path = AOD-L2
	url = https://github.com/KrzysztofT415/AOD-L2
[submodule "AOD-L3"]
	path = AOD-L3
	url = https://github.com/KrzysztofT415/AOD-L3
[submodule "AOD-L4"]
	path = AOD-L4
	url = https://github.com/KrzysztofT415/AOD-L4
